<h1>Fill Out This Form</h1>
<form action="/hello/" method="POST">

  <div>
    <label for="sender">Sender:</label>
    <input type="text" name="sender">
  <div>
    <label for="recipient">Recipient:</label>
    <input type="text" name="recipient" />
  </div>
  <div>
    <label for="greeting">Message:</label>
    <textarea name="greeting" placeholder="Write your message here."></textarea>
  </div>
  <div class="button">
    <input type="submit">
  </div>
</form>