<html>
  <head>
    <title>This is my webpage!</title>
  </head>

  <body>
    <h1 style="color: green;">Hello There, <%= user %>!</h1>

    <p>Welcome to my <em>super duper</em> awesome page.</p>
    <p>Look at this corgi!</p>

    <img src="http://placecorgi.com/260/180" /> 
  </body>

</html>